@model zadanie4.ViewModels.QuizViewModel
@{
    ViewData["Title"] = "Quiz";
    int nr = 0;
}

<h2>Quiz – odpowiedz na pytania</h2>

<form method="post" asp-action="Submit" asp-controller="Quiz">



    @foreach (var pytanie in Model.Pytania)
    {
        nr++;
        <div style="margin-bottom: 24px;">
            <p><strong>@nr. @pytanie.Tresc</strong></p>

            @foreach (var odp in pytanie.Odpowiedzi.OrderBy(o => o.Id))
            {
                <div>
                    <label>
                        <input type="radio"
                               name="WybraneOdpowiedzi[@pytanie.Id]"
                               value="@odp.Id"
                               required />
                        @odp.Tresc
                    </label>
                </div>
            }
        </div>
    }

    <button type="submit">Zatwierdź</button>
</form>
